<div id="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Challanges</h1>
  
    <% @problems.each do |problem| %>
      <%= link_to language_path(problem.id) do %>
        <div class="challange_button">
          <%= problem.name %>
        </div>
      <% end %>
      <% if current_user.admin == 1 %>
        <%= link_to 'Delete', language_path(problem), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  
  <br />
</div>
