<div id="container">
	<div class="real_question_title" style="margin-top:17px;">Challenge</div>
	            <div id="real_question"> 
	                <%==  @problem.text  %>

	<br> 
	            </div> 

	            
	            <!-- SAMPLES -->
	            <div class="real_question_title" style="margin-top:23px;">Sample Test Cases</div>
	            <div id="samples_area">
	                <p><span>Input:</span>4</p>
	                <p style="margin-top:5px;"><span>Output:</span>24</p>
	                <br>
	                <p><span>Input:</span>8</p>
	                <p style="margin-top:5px;"><span>Output:</span>40320</p>
	            </div>
</div>